@model HairSalon.Models.Client

<h1>Client Details</h1>
<hr />
<p>@Html.DisplayName("Client Name"): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayName("Last Visit Details"): @Html.DisplayFor(model => model.Previous)</p>
<p>@Html.DisplayName("Contact Number"): @Html.DisplayFor(model => model.PhoneNumber)</p>

<p>@Html.ActionLink("Back to Client List", "Index")</p>

<p>@Html.ActionLink("Return to Home Page", "Index", "Home")</p>